<!DOCTYPE html>
<html>
<head>
  <title>EmberHelloWorld</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <div id="ember-app"></div>
</body>
</html>
<!-- Your ails should look like this to start
Ember will inser islt eat teh end of your body tag by deafult, Howver, youc an tell ember to render into
a specific element, let's do that.
// first create a div with teh id ember-app

 -->
